<h2 class="title is-2">Thank you for your purchase!</h2>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tfoot>
<% @line_items.each do |d| %>
  <tr>
    <td><%= d.description %></td>
    <td><%= d.price.unit_amount %></td>
    <td><%= d.quantity %></td>
    <td><%= d.amount_subtotal %></td>
  </tr>
<% end %>
  </tfoot>
</table>