<h2 class="title is-2">My Orders</h2>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>OrderID</th>
      <th>Payment ID</th>
      <th>Subtotal</th>
      <th>Status</th>
    </tr>
  </thead>
  <tfoot>
<%= render @orders %>
  </tfoot>
</table>