<h2 class="subtitle is-2">About me and 3d Soaps</h2>
<div>
  <p class="box">Hello my name is Tatyana and I am from the Ukraine but have recently moved to Winnipeg, Canada. I am confined to a wheelchair but I don't let that stop me from making my soaps. I take the headache out of gift giving.</p>
  <p class="block">My soaps are all fun shapes, they do not dry out your skin and are very cute! Each one is hand made, orders take 3-5 days to be made. My work has won several awards back in the Ukraine. I make many verities for everyone, food, animals and flowers. Don't be afraid to make suggestions for things I could make on my Instagram page.</p>
  <%= image_tag "about/may-gauthier-TACdQo62To0-unsplash.jpg", alt: "portrait" %>
  <p class="block">I enjoy customizing orders and using various colors combinations especially when it comes to my soap flower bouquets. I've been wanting to move sales to a website and off Instagram for a while so I am glad to announce there is now more payment options.</p>
</div>